@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');
* {
    color: rgb(212,216,219);
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    background-color: rgb(3,31,43);
    padding: 30px;
    display: flex;
    justify-content: center;
}

#logo{
    width: 150px;
    height: 60px;
}  

.NavButtons{
    padding-left: 30px;
    align-content: center;
    margin-right: 10%;
    font-size: larger;
}

video{
    border-radius: 20px;
    justify-content: center;
    margin-top: 20px;
}
#One, #Two, #Three{
    justify-content: center;
    display: grid;
    flex: auto;
    font-size: 20px;
    margin: 10%;
    align-items: center;
    grid-template-columns: 1fr fr;
    column-gap: 20%;
}

.Left{
    display: flex;
    float: left;
    justify-content: center;
}

.Right{
    display: flex;
    float: right;
    justify-content: center;
}

footer{
    background-color: rgb(3,31,43);
    padding: 30px;
    display: flex;
    justify-content: center;
}

.FooterOptions{
    padding-left: 30px;
    align-content: center;
    font-size: larger;  
}

#Copyright{
    padding-left: 30px;
    align-content: center;
    font-size: small;
}
/* For buttons rgb(79,190,237) */

