@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron';
}
* {
    color: rgb(212, 216, 219);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: right;
}

article{
    color: rgb(212, 216, 219);
}

body {
    background-color: rgb(3, 31, 43);
    color: rgb(212,216,219);
    text-align: center;
}

@media only screen and (max-width: 600px) 
{
    #title
    {
        font-size: 12px;
        flex: auto;
        display: flex;
    }

    #NavButtons{
        display: auto;
        font-size: 1.5vw;
        max-width: 1vw;
        background-color: rgb(3,31,43);
        padding: 30px;
        display: flex;
        flex: auto;
        justify-content: left;
    }

    #header-logo {
        max-width: 100px;
        max-height: auto;
        display: flex;
        justify-self: left;
        align-self: left;
    }

    #des1{
        justify-content: center;
        background-color: rgb(3, 31, 43);
        font-size: 2vw;
        display: flex;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }

    #des2{
        justify-content: center;
        background-color: rgb(3, 31, 43);
        font-size: 2vw;
        display: flex;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }
    }

#NavButtons{
    font-size: 1.5rem;
    text-align: right;
    align-content: right;
    align-self: right;
    width: 24rem;
    color: white;
    max-width: fit-content;
    font-size: 3vw;
    display: auto;
    max-width: 10px;
}

#header-logo {
    width: 150px;
    top: 18px;
    align-content: left;
}

#des1 {
    justify-content: center;
    background-color: rgb(3, 31, 43);
    flex: auto;
    font-size: 1.5vw;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   
}

#des2 {
    background-color: rgb(0, 0, 0);
    flex: auto;
    font-size: 1.5vw;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   
}

footer{
    background-color: rgb(3, 31, 43);
    padding: 30px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

#footer-logo {

    max-width: 50%;
    max-height: auto;
}

#FooterOptions{
    padding-left: 30px;
    align-content: center;
    font-size: larger;  
    display: flex;
}

#right{
    font-size: 24vw;
    height: auto;
    max-width: 50%;
    display: flex;
}
/* For buttons rgb(79,190,237) */