@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');

* {
    color: rgb(212, 216, 219);
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 31, 43);
}

#logo {
    width: 150px;
    height: 60px;
    margin-right: 85%;
    justify-content: left;
}

nav {
    background-color: rgb(3, 31, 43);
    padding: 30px;
    display: flex;
    justify-content: center;
}

.NavButtons {
    padding-left: 30px;
    align-content: center;
}

#right {
    height: 300px;
}

#left {
    height: 300px;
}

header{
    margin: -20px 0px 20px;
    font-size: 24px;
}

#des1 {
    justify-content: center;
    background-color: rgb(3, 31, 43);
    flex: auto;
    font-size: 18px;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   
}
#des2 {
    background-color: rgb(0, 0, 0);
    flex: auto;
    font-size: 18px;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   
}

/* For buttons rgb(79,190,237) */